@using System.Text
@using Core
@using Core.GOAP
@using Core.Goals
@using System.Text.RegularExpressions

@inject WApi api

@inject IBotController botController

@inject ActionBarCooldownReader ActionBarCooldownReader

<tr class="@ActionClass(IsSelected, 0)">
    <td>
        <b style="color:@DisplayCanRun(goal.CanRun())">@goal.Cost: @GoalName(goal)</b>
    </td>
    <td>
        @foreach ((GoapKey key, bool value) in goal.Preconditions)
        {
            <span style="margin-right:4px;" class="badge @Badge(botController.GoapAgent!.HasState(key) == value)">@(key.ToStringF(value))</span>
        }
        @if (goal.Keys.Length == 1)
        {
            KeyAction key = goal.Keys[0];
            @for (int i = 0; i < key.RequirementsRuntime.Length; i++)
            {
                Requirement rq = key.RequirementsRuntime[i];
                if (rq.VisibleIfHasRequirement || !rq.HasRequirement() || ShowAll)
                {
                    @(DisplayRequirementBadges(rq))
                }
            }
        }
    </td>
</tr>
@if (goal.Keys.Length > 1 && (IsSelected || Expand))
{
    <tr>
        <td colspan="2" style="padding-top: 0 !important; padding-bottom: 0 !important; border-top: 0 !important;">
            <table style="margin-left: 15px;">
                @{
                    int lastKey = KeyAction.LastKeyClicked();
                    ReadOnlySpan<KeyAction> span = goal.Keys.AsSpan();
                }
                @for (int k = 0; k < span.Length; k++)
                {
                    KeyAction key = span[k];

                    int cooldown = 0;
                    if (key.Slot > 0)
                        cooldown = ActionBarCooldownReader.Get(key);

                    <tr class="@ActionClass(goal == botController.GoapAgent!.CurrentGoal && lastKey == key.ConsoleKeyFormHash, cooldown)">
                        <td>
                            @if (key.HasForm)
                            {
                                <img style="margin-right:4px" src="@FormResourceName(key.FormValue)" />
                            }
                            <b style="color:@DisplayCanRun(key.CanRun())">@KeyActionSpellName(key)</b>
                        </td>
                        <td>
                            @{
                                ReadOnlySpan<Requirement> reqSpan = key.RequirementsRuntime.AsSpan();
                            }
                            @for (int r = 0; r < reqSpan.Length; r++)
                            {
                                Requirement rq = reqSpan[r];
                                if (rq.VisibleIfHasRequirement || !rq.HasRequirement() || ShowAll)
                                {
                                    @(DisplayRequirementBadges(rq))
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public bool Expand { get; set; } = false;

    [Parameter]
    public bool ShowAll { get; set; } = false;

    [Parameter]
    public GoapGoal goal { get; set; } = new NullGoal();

    private static readonly Regex regex = new($"({Requirement.And})|({Requirement.Or})", RegexOptions.Compiled | RegexOptions.IgnoreCase);
    private static readonly StringBuilder stringBuilder = new();

    private static MarkupString DisplayRequirementBadges(Requirement requirement)
    {
        stringBuilder.Clear();
        foreach (ReadOnlySpan<char> match in regex.Split(requirement.LogMessage()))
        {
            if (match.StartsWith(Requirement.And) || match.StartsWith(Requirement.Or))
            {
                stringBuilder.Append("<span class=\"badge badge-secondary\">");
                stringBuilder.Append(match.Trim());
                stringBuilder.Append("</span>\n");
            }
            else
            {
                stringBuilder.Append("<span class=\"badge ");
                stringBuilder.Append(Badge(requirement.HasRequirement()));
                stringBuilder.Append("\">");
                stringBuilder.Append(match.Trim());
                stringBuilder.Append("</span>\n");
            }
        }
        return new MarkupString(stringBuilder.ToString());
    }

    private static string Badge(bool value)
    {
        return value ? "badge-success" : "badge-danger";
    }

    private static string ActionClass(bool item, int cooldown)
    {
        if (cooldown > 0)
            return "bg-red animate__animated animate__fadeIn";

        return item ? "bg-majestic animate__animated animate__fadeIn" : "table-default";
    }

    private static string DisplayCanRun(bool item)
    {
        return item ? "black" : "gray";
    }

    private string FormResourceName(Form i)
    {
        return $"_content/Frontend/img/form/small/{i.ToStringF().ToLower()}.jpg";
    }

    public MarkupString GoalName(GoapGoal goal)
    {
        if (goal.Keys.Length == 1)
            return KeyActionSpellName(goal.Keys[0]);

        return new MarkupString(goal.DisplayName);
    }

    public MarkupString KeyActionSpellName(KeyAction keyAction)
    {
        if (keyAction.SpellId == 0)
            return new MarkupString($"{keyAction.Name} [{keyAction.Key}]");

        return new($"<a href=\"{api.SpellId}{keyAction.SpellId}\" target=\"_blank\" data-wowhead=\"spell={keyAction.SpellId}\" style=\"text-decoration:none;color:inherit\">{keyAction.Name} [{keyAction.Key}]</a>");
    }
}
