@using System.Text
@using Core.GOAP
@using System.Text.RegularExpressions

@inject IAddonReader addonReader

<tr class="@ActionClass(this.IsSelected, 0)">
    <td>
        <b style="color:@DisplayCanRun(goal.CanRun())">@goal.Cost: @goal.DisplayName</b>
    </td>
    <td>
        @foreach (var item in this.goal.State)
        {
            <span class="badge @Badge(item.Value)">@item.Key.ToStringF(this.goal.Preconditions.GetValueOrDefault(item.Key))</span>
        }
        @if (this.goal.Keys.Length == 1)
        {
            @for (int r = 0; r < this.goal.Keys[0].RequirementsRuntime.Length; r++)
            {
                if (this.goal.Keys[0].RequirementsRuntime[r].VisibleIfHasRequirement ||
                    !this.goal.Keys[0].RequirementsRuntime[r].HasRequirement())
                {
                    @(DisplayRequirementBadges(this.goal.Keys[0].RequirementsRuntime[r]))
                }
            }
        }
    </td>
</tr>
@if (this.goal.Keys.Length > 1 && (this.IsSelected || this.Expand))
{
    <tr>
        <td colspan="2" style="padding-top: 0 !important; padding-bottom: 0 !important; border-top: 0 !important;">
            <table style="margin-left: 15px;">
                @{
                    int lastKeyClicked = Core.KeyAction.LastKeyClicked();
                }
                @for (int k = 0; k < this.goal.Keys.Length; k++)
                {
                    int Cooldown = 0;
                    if(this.goal.Keys[k].Slot > 0)
                        Cooldown = addonReader.ActionBarCooldownReader.GetRemainingCooldown(this.goal.Keys[k]);

                    <tr class="@ActionClass(lastKeyClicked == this.goal.Keys[k].ConsoleKeyFormHash, Cooldown)">
                        <td>
                            <b style="color:@DisplayCanRun(this.goal.Keys[k].CanRun())">@this.goal.Keys[k].Name [@this.goal.Keys[k].Key]</b>
                        </td>
                        <td>
                            @for (int r = 0; r < this.goal.Keys[k].RequirementsRuntime.Length; r++)
                            {
                                if (this.goal.Keys[k].RequirementsRuntime[r].VisibleIfHasRequirement ||
                                    !this.goal.Keys[k].RequirementsRuntime[r].HasRequirement())
                                {
                                    @(DisplayRequirementBadges(this.goal.Keys[k].RequirementsRuntime[r]))
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </td>
    </tr>
}

@code {

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter]
    public bool Expand { get; set; } = false;

    [Parameter]
    public Core.Goals.GoapGoal goal { get; set; } = new Core.Goals.NullGoal();

    private static readonly Regex regex = new($"({Requirement.And})|({Requirement.Or})", RegexOptions.Compiled | RegexOptions.IgnoreCase);
    private static readonly StringBuilder stringBuilder = new();

    private static MarkupString DisplayRequirementBadges(Core.Requirement requirement)
    {
        stringBuilder.Clear();
        foreach (string match in regex.Split(requirement.LogMessage()))
        {
            if (match.StartsWith(Requirement.And) || match.StartsWith(Requirement.Or))
            {
                stringBuilder.Append("<span class=\"badge badge-secondary\">");
                stringBuilder.Append(match.Trim());
                stringBuilder.Append("</span>\n");
            }
            else
            {
                stringBuilder.Append("<span class=\"badge ");
                stringBuilder.Append(Badge(requirement.HasRequirement()));
                stringBuilder.Append("\">");
                stringBuilder.Append(match.Trim());
                stringBuilder.Append("</span>\n");
            }
        }
        return new MarkupString(stringBuilder.ToString());
    }

    private static string Badge(bool value)
    {
        return value ? "badge-success" : "badge-danger";
    }

    private static string ActionClass(bool item, int cooldown)
    {
        if (cooldown > 0)
            return "bg-red animate__animated animate__fadeIn";

        return item ? "bg-majestic animate__animated animate__fadeIn" : "table-default";
    }

    private static string DisplayCanRun(bool item)
    {
        return item ? "black" : "gray";
    }
}